{% include 'myfashion/base.html' %}

{% block content %}<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="conatiner-fluid"
    style="background-image: url('/static/roses-red-flowers-silk-wallpaper-preview.jpg'); background-repeat: no-repeat; background-size: cover;background-attachment: fixed;">
    <section id="landingpage">
        <div class="container-fluid" style=" height: 60vh;">
            <h2 class="text-center animate__animated animate__bounce" style="padding-top: 15%;font-family: 'Fugaz One', cursive;
    font-family: 'Luckiest Guy', cursive;font-size: 30px;color:green;
    ">This is a botique shop that deals with women outfits</h2>
            <p class="text-center  animate__animated animate__bounce " style="font-family: 'Fugaz One', cursive;
    font-family: 'Luckiest Guy', cursive;font-size: 30px;color:green;">Welcome to our fabulous new shaz-styles shop</p>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="about">
                    <h1 style="color: blue;"> ABOUT US </h1>
                    <p style="color: green;">We believe in creating design that enhance the beauty of a woman.<br>
                        bringing alive their personality as well as the physical form they reflect to the world. <br>
                        We welcome you here with alot of confidence.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pick">
                    <img src="" alt="" id="">

                </div>
            </div>

        </div>
    </div>
    

{% endblock %}


<div id="contact">
   <!-- <a href="contacts"></a> -->
    <h1 style="text-align: center;"><b style="color: blue;">CONTACT US</b></h1>

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4">
                <h3>Contact us</h3>
                <p> Email: anyangosharon26@gmail.com</p>
                <p> Phone number : +254702165045</p>
            </div>
            <div class="col-md-4">
                <h3>Locate us</h3>
                <P>Nairobi, Kenya</P>
                <p> Copyright @ C 2021 shaz-styles</p>
                <p><b style="color: blue;">Design by SharonAnyango @ © 2021</b></p>
    
            </div>
            <div class="col-md-4">

                <h3>Connect with us</h3>
<style>
    #about{
    font-size: 20px;
}
#contact .jumbotron{
    background-color:black;
    color: white;
}
#contact{
    text-align: center;
}
#icon{
    display: flex;
    justify-content: center;
}
#icon img{
    margin-right: 20px;
}
</style>

                <div id="icon">
                    <div class="icon">
                        <a href=""><img src="/static/about img/facebook.png" alt=""></a>
                    </div>
                    <br>
                    <div class="icon">
                        <a href=""><img src="/static/about img/g_plus.png" alt=""></a>
                    </div>
                    <br>
                    <div class="icon">
                        <a href=""><img src="/static/about img/twitter.png" alt=""></a>
                    </div>
                    <div class="icon">
                        <a href=""><img src="/static/about img/you_tube.png" alt=""></a>
                        
                    </div>
                </div>
            </div>
            

        </div>
    </div>
    
</div>

</div>