{% include 'myfashion/base.html' %}
{% load ratings %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="conatiner-fluid"
    style="background-image: url('/static/e6d6e5e7c8477b40d62506416713b7d2.jpg'); background-repeat: no-repeat; background-size: cover;background-attachment: fixed;">
    <section id="landingpage">
        <div class="container-fluid" style=" height: 60vh;">
            <h2 class="text-center animate__animated animate__bounce" style="padding-top: 15%;font-family: 'Fugaz One', cursive;
    font-family: 'Luckiest Guy', cursive;font-size: 30px;color: white;
    ">This is a botique shop that deals with women outfits</h2>
            <p class="text-center  animate__animated animate__bounce " style="font-family: 'Fugaz One', cursive;
    font-family: 'Luckiest Guy', cursive;font-size: 30px;color: white;">Welcome to our fabulous new shaz-styles shop</p>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="about">
                    <h1 style="color: blue;"> ABOUT US </h1>
                    <p style="color: whitesmoke;">We believe in creating design that enhance the beauty of a woman.<br>
                        bringing alive their personality as well as the physical form they reflect to the world. <br>
                        We welcome you here with alot of confidence.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pick">
                    <img src="" alt="" id="">

                </div>
            </div>

        </div>
    </div>
    

    <section id="fashion">
        <h2 class="text-center" style="padding-top: 70px;font-family: 'Fugaz One', cursive;
    font-family: 'Luckiest Guy', cursive;font-size: 40px;color: white;
    ">View our best sellers range</h2>
        {% block content %}
        <div class="row container-fluid content">
            {% for image in images %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 thumbnails">
                <div class="card-body">
                    <img src="{{image.image.url}}" class="img-fluid img-responsive" alt="image"
                        style="width: 80%; height: 450px;">
                    <br>
                    <a href="#" class="btn btn-primary btn-sm mt-3" data-toggle="modal" data-target="#{{image.id}}">View
                        More</a>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="{{image.id}}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h3 class="modal-title text-center" id="title">{{image.title}}</h3>
                            <a href="#"><img src="{{image.image.url}}" class="img-responsive" alt="image"
                                    style="width: 80%; height: 200px;"></a>

                            <p class="text-center">{{image.caption}}</p>
                            <p>Location: {{image.location}}</p>
                            <p>Description : {{image.description}}</p>
                            <p>Price : {{image.price}}</p>
                            <p>Posted on :{{image.pub_date}}</p>

                            <p>{{ avis.note }}</p>
                            
                            
                            <form method="post" action="">
                                {% csrf_token %}
                                {% for field in form %}
                                <div class="fieldWrapper form-group">
                                   {{ field.label_tag }}
                                   {{ field }}
                                </div>
                                {% endfor %}
                            
                             </form>
                             <div class="rating rating">
                               <a href="#5" style="color: tomato;" title="Give 5 stars" data-value="5"><b>★</b></a>
                               <a href="#4" title="Give 4 stars" data-value="4">★</a>
                               <a href="#3" title="Give 3 stars" data-value="3">★</a>
                               <a href="#2" title="Give 2 stars" data-value="2">★</a>
                               <a href="#1" title="Give 1 star" data-value="1">★</a>
                             </div>
                             
                             <script>
                               $(".rating a").on('click', function(e){
                                 let value = $(this).data('value');
                                  $.ajax({
                                    
                                     type: 'POST',
                                     data: {'rating': value},
                                     success: function (d){
                                      // some processing
                                     }
                                  })
                               });
                             </script>

                             
                            
                        </div>

                        <div class="modal-footer">
                            <input type="text" value="{{image.image.url}}" id="copy" style="width:250px"
                                class="form-control">

                            <button class="btn btn-success btn-sm" onclick="copyLink('{{image.id}}.url')">order</button>
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>


            {% endfor %}
        </div>
        
        {% endblock %}
    </section>

<div id="contact">
   <!-- <a href="contacts"></a> -->
    <h1 style="text-align: center;"><b style="color: blue;">CONTACT US</b></h1>

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4">
                <h3>Contact us</h3>
                <p> Email: anyangosharon26@gmail.com</p>
                <p> Phone number : +254702165045</p>
            </div>
            <div class="col-md-4">
                <h3>Locate us</h3>
                <P>Nairobi, Kenya</P>
                <p> Copyright @ C 2021 shaz-styles</p>
                <p><b style="color: blue;">Design by SharonAnyango @ © 2021</b></p>
    
            </div>
            <div class="col-md-4">

                <h3>Connect with us</h3>
<style>
    #about{
    font-size: 20px;
}
#contact .jumbotron{
    background-color:black;
    color: white;
}
#contact{
    text-align: center;
}
#icon{
    display: flex;
    justify-content: center;
}
#icon img{
    margin-right: 20px;
}
</style>

                <div id="icon">
                    <div class="icon">
                        <a href=""><img src="/static/about img/facebook.png" alt=""></a>
                    </div>
                    <br>
                    <div class="icon">
                        <a href=""><img src="/static/about img/g_plus.png" alt=""></a>
                    </div>
                    <br>
                    <div class="icon">
                        <a href=""><img src="/static/about img/twitter.png" alt=""></a>
                    </div>
                    <div class="icon">
                        <a href=""><img src="/static/about img/you_tube.png" alt=""></a>
                        
                    </div>
                </div>
            </div>
            

        </div>
    </div>
    
</div>

</div>